header.fix-top{
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
}

.texto-encima{
	position: fixed;

}

header.header{
	background-image: url(../flat-code-logo-collection/bgimg.jpg);
	background-position: center;
	background-size: cover;

}

div.animHover:hover{
	border: solid 1px #fff;
}



@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";