header.fix-top{
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
}

.texto-encima{
	position: fixed;

}

header.header{
	/*background-image: url(../flat-code-logo-collection/bgimg.jpg);*/
	background: rgb(3,1,13);
	background: linear-gradient(90deg, rgba(3,1,13,1) 0%, rgba(10,9,121,1) 61%, rgba(0,140,255,1) 100%);
	/*background-position: center;*/
	/*background-size: cover;*/

}


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";